<div id="chatbot-icon" data-region="chatbot-icon">
    <img src="{{iconurl}}" alt="Chatbot" class="chatbot-icon-img" />
</div>
<div id="chatbot-window" data-region="chatbot-window">
    <div id="chatbot-context"></div>
    <div id="chatbot-credits"></div>
    <div id="chatbot-messages" data-region="chatbot-messages"></div>
    <div id="chatbot-thinking"></div>
    <div id="chatbot-input" data-region="chatbot-input">
        <textarea id="chatbot-text" rows="1" placeholder="{{#str}} typehere, local_chatbot {{/str}}"></textarea>
        <button id="chatbot-send">{{#str}}send, local_chatbot{{/str}}</button>
    </div>
</div>
